@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

input, button {
  background: none;
  border: none;
  outline: none;
}

.mainmenu {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to right, #1b2546,#c52c58,#344862);
  overflow: hidden;
}

.mainmenu .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; 
  background: url(img/wave.png);
  background-size: 1000px 100px;
}

section .wave.wave1 {
  animation: animate 25s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0px;
}

section .wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 20px;
}

section .wave.wave3 {
  animation: animate 20s linear infinite;
  z-index: 998;
  opacity: 0.7;
  animation-delay: -2s;
  bottom: 10px;
}

section .wave.wave4 {
  animation: animate2 10s linear infinite;
  z-index: 997;
  opacity: 0.2;
  animation-delay: -5s;
  bottom: 30px;
}

@keyframes animate {
  0%
  {
    background-position-x: 0;
  }
  100%
  {
    background-position-x: 1000px;
  }
}

@keyframes animate2 {
  0%
  {
    background-position-x: 0;
  }
  100%
  {
    background-position-x: -1000px;
  }
}


.title {
  position: relative;
  color: aliceblue;
  font-size: 75px;
  bottom: 60px;
}

.image {
  /* border-radius: 0.01px; */
  position: absolute;
  width: 25px;
  height: 25px;
  margin-left: 180px;
  top: 130px;
  float: none;
}

.room{
  position: relative;
  display: block;
  font-size: 15px;
  width: 250px;
  padding: 10px 15px;
  background-color: aliceblue;
  border-radius: 8px;
  transition: 0.4s;
  bottom: 20px;
}

.button {
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: background 400ms;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 50px;
  min-height: 60px;
  min-width: 200px;
  box-shadow: 5px 5px 10px #344862;
  background-image: linear-gradient(to right, #1d153a 50%, #c41f4e 50%, #344862);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: aliceblue;
  cursor: pointer;
  bottom: 20px;
}

.button:hover {
  background-position: 100% 0%;
  /* color: #1d153a; */
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.status {
  font-size: 15px;
  color: aliceblue;
  font-weight: bold;
}

.playerroom {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to right, #1b2546,#c52c58,#344862);
  color: aliceblue;
}

.roomid {
  font-size: 20px;
  font-weight: bold;
}

/* form {
  display: block;
  position: relative;
} */

/* form:after {
  content: '';
  display: block;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1; */
  /* height: 200px;
  background-color: aliceblue;
} */
